h1 { color: white; font-family: 'Arial', sans-serif; font-size: 64px; font-weight: bold; letter-spacing: -1px; line-height: 0; text-align: left;}
h2 { color: white; font-family: 'Arial', sans-serif; font-size: 30px; font-weight: bold; letter-spacing: -1px; line-height: 0; text-align: left;}
h3 { color: white; font-family: 'Arial', sans-serif; font-size: 40px; font-weight: bold; letter-spacing: -1px; line-height: 0; text-align: left;}
p { color: white; font-family: 'Arial', sans-serif; font-size: 15px; font-weight: bold; letter-spacing: 0px; line-height: 3; text-align: left;}


body {
  background: url(https://images8.alphacoders.com/564/thumb-1920-564997.jpg);
  }